.nav-link-custom{
    border:3px solid #fff;
    padding: 0 15px;
    padding-bottom: 5px;
    border-radius: 1rem;
    margin: 0;
}

.text-blue{
    color: #71b5f8;
}
.text-pink{
    color: #a870dd;
}

.display-size-6{
    font-size: 1.5rem;
}
.connection-status-red{
    position: fixed;
    right:20px;
    bottom: 0;
    background-color: #dc3545;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.connection-status-green{
    position: fixed;
    right:20px;
    bottom: 0;
    background-color: #28a745;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}